/* プロフィールエリア枠線 */
.frame {
  position: relative;
  width: 70%;
  max-width: 800px;
  padding: 2em 2em;
}
.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background:
    radial-gradient(
        circle at top left,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      left top / 22px 22px no-repeat,
    radial-gradient(
        circle at top right,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      right top / 22px 22px no-repeat,
    radial-gradient(
        circle at bottom left,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      left bottom / 22px 22px no-repeat,
    radial-gradient(
        circle at bottom right,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      right bottom / 22px 22px no-repeat,
    linear-gradient(90deg, transparent 20px, #773b01 22px) left top / 51% 2px no-repeat,
    linear-gradient(-90deg, transparent 20px, #773b01 22px) right top / 51% 2px no-repeat,
    linear-gradient(90deg, transparent 20px, #773b01 22px) left bottom / 51% 2px no-repeat,
    linear-gradient(-90deg, transparent 20px, #773b01 22px) right bottom / 51% 2px no-repeat,
    linear-gradient(180deg, transparent 20px, #773b01 22px) left top / 2px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #773b01 22px) left bottom / 2px 51% no-repeat,
    linear-gradient(180deg, transparent 20px, #773b01 22px) right top / 2px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #773b01 22px) right bottom / 2px 51% no-repeat;
}
.frame::after {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: "";
  box-shadow: 0 0 0 1px #773b01;
}

/* スキルエリアカード */
.skill-card {
  @apply my-5 flex w-[26%] cursor-pointer items-center 
  justify-center rounded-md transition-all duration-100 before:pt-[100%];
}
