@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #773b01;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffefa1;
}

.navMenu {
  @apply text-lg font-semibold;
}

.card-text {
  @apply py-2 text-black;
}

/* aboutページ枠線 */
.frame {
  position: relative;
  width: 70%;
  max-width: 800px;
  padding: 2em 2em;
}

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background:
    radial-gradient(
        circle at top left,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      left top / 22px 22px no-repeat,
    radial-gradient(
        circle at top right,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      right top / 22px 22px no-repeat,
    radial-gradient(
        circle at bottom left,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      left bottom / 22px 22px no-repeat,
    radial-gradient(
        circle at bottom right,
        transparent 20px,
        #773b01 20px,
        #773b01 22px,
        transparent 22px
      )
      right bottom / 22px 22px no-repeat,
    linear-gradient(90deg, transparent 20px, #773b01 22px) left top / 51% 2px no-repeat,
    linear-gradient(-90deg, transparent 20px, #773b01 22px) right top / 51% 2px no-repeat,
    linear-gradient(90deg, transparent 20px, #773b01 22px) left bottom / 51% 2px no-repeat,
    linear-gradient(-90deg, transparent 20px, #773b01 22px) right bottom / 51% 2px no-repeat,
    linear-gradient(180deg, transparent 20px, #773b01 22px) left top / 2px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #773b01 22px) left bottom / 2px 51% no-repeat,
    linear-gradient(180deg, transparent 20px, #773b01 22px) right top / 2px 51% no-repeat,
    linear-gradient(0deg, transparent 20px, #773b01 22px) right bottom / 2px 51% no-repeat;
}
.frame::after {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: "";
  box-shadow: 0 0 0 1px #773b01;
}

/* タイトル飾り線（profile,work） */
.title-deco {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}

.title-deco:before {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.title-deco span {
  position: relative;
  padding: 0.5em;
  background-color: #ffefa1;
}

/* タイトル飾り線（article, category, archive）*/
.title-deco-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-deco-line:before,
.title-deco-line:after {
  border-top: 1px solid #773b01;
  content: "";
  width: 35%;
}

.title-deco-line:before {
  margin-right: 0.5em;
}

.title-deco-line:after {
  margin-left: 0.5em;
}

/* スキルカード */
.skill-card {
  @apply my-5 flex w-[26%] cursor-pointer items-center justify-center 
  rounded-md border-[1px] border-[#773b01] bg-[#FFFDF0] 
  outline-2 transition-all duration-100 before:pt-[100%] 
  hover:outline hover:outline-[#773b01];
}

/* 記事カードホバー */
.card-hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease 0s;
}

.card-hover:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

/* ラベルホバー（カテゴリ、アーカイブ） */
.label-hover {
  transition: all 0.6s ease 0s;
}

.label-hover:hover {
  /* transform: translateY(-2px); */
  /* background-color: rgb(202, 204, 205, 0.5); */
  border-color: #000;
}

/* メニューテキストホバー（ヘッダー、フッター） */
.menu-text-hover:hover {
  text-decoration: underline;
  color: #000;
  transition: all 0.8s;
  cursor: pointer;
}

/* アコーディオンアニメーション */
.acd-check {
  display: none;
}

.acd-label {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.acd-label:after {
  content: url(../../public/other-icon/plus-solid.svg);
  position: absolute;
  right: 10px;
  top: -3px;
  width: 30px;
}

.acd-content {
  height: 0;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}

.acd-check:checked + .acd-label:after {
  content: url(../../public/other-icon/minus-solid.svg);
}

.acd-check:checked + .acd-label + .acd-content {
  height: 170px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}
