@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #773b01;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.card-text {
  @apply py-2 text-black;
}

/* タイトル飾り線（profile,work） */
.title-deco {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}

.title-deco:before {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.title-deco span {
  position: relative;
  padding: 0.5em;
}

/* タイトル飾り線（article, category, archive）*/
.title-deco-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-deco-line:before,
.title-deco-line:after {
  border-top: 1px solid #773b01;
  content: "";
  width: 35%;
}

.title-deco-line:before {
  margin-right: 1em;
}

.title-deco-line:after {
  margin-left: 1em;
}

/* 記事カードホバー */
.card-hover {
  transition: all 0.5s ease 0s;
}

.card-hover:hover {
  opacity: 0.6;
}

/* ArticleCardのHeadingTextの文字数制限 */
.txt-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
